.idea/
.vscode/
.github/
.husky/

# Logs
logs/
*.log

# Dependencies
node_modules/

# Project files
/scripts/
/src/
tests/
jest.config.js
.gitignore
.markdownlint.json
package-lock.json
tsconfig.json
DOCS.md
notes.txt
.env
.env.example
.eslintignore
.eslintrc.json
.lintstagedrc.json
.prettierignore
.prettierrc.json
jest.config.ts

# Build
*.tgz